<div id="main-card" class="card">
  <div id="item-image" class="card-image">
    <%= render 'navigation_buttons' %>
    <div class="front">
      <%= image_tag @item.front_stored? ? 
        @item.front.thumb('400x566#').url : 
        'no_cover.jpg', id: 'item-image-front', class: 'responsive-img' %>
    </div>
    <div class="back">
      <%= image_tag @item.back_stored? ? 
        @item.back.thumb('400x566#').url : 
        'no_cover.jpg', id: 'item-image-back', class: 'responsive-img' %>
    </div>
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4 truncate">
      <%= @item.title %>
      <i class="material-icons right">more_vert</i>
    </span>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
      <%= @item.title %>
      <i class="material-icons right">close</i>
    </span>
    <div class="flow-text">
      <%= info_for(@item) %>
    </div>
  </div>
</div>