<!DOCTYPE html>
<html>
<head>
  <title>Akari Shop - Discs Catalog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"> </script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile">
          <li class="left"><a id="close-button" href="#"><i class="material-icons">close</i></a></li>
          <!--<li class="right"><a href="#"><i class="material-icons">search</i></a></li>-->
          <li class="right"><%= link_to "<i class='material-icons'>view_module</i>".html_safe, root_path %></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer></footer>

</body>
</html>
